<!doctype HTML>
<html>
<head>
    <meta charset="utf-8">

    <script type="text/javascript" src="jquery.js"></script>
    <script> function ajax(){
        // https://stackoverflow.com/a/5976031/9469533
        var data = new FormData();
        data.append('username',$('input[name="username"]').val());
        data.append('password',$('input[name="password"]').val());
jQuery.ajax({
    url: "https://127.0.0.1:8445/api/auth/login",
    data: data,
    cache: false,
    contentType: false,
    processData: false,
    method: 'POST',
    type: 'POST', // For jQuery < 1.9
    success: function(data){
        alert(data);
    },
    error:  function(xhr, str){
			alert("Возникла ошибка!" + xhr + str);
		}
});    }    

    </script>
</head>
<body>

<% if (ужеВошлиКак) { %> 
    <p>вы уже вошли как <%- ужеВошлиКак %></p>
    <form method=post id="form" action="https://127.0.0.1:8445/api/auth/logout" enctype="multipart/form-data">
        <button>Выйти</button>
    </form>
    <% } 
else { %> 
    <form method=post id="form" action="https://127.0.0.1:8445/api/auth/login" enctype="multipart/form-data">
        <input name=username value="budden">
        <input name=password value="123">
        <button>Вход</button>
        <button type="button" onclick="ajax()">Вход с помощью AJAX</button>
    </form>
      
    <% }
%>


</body>
</html>
